// Variables

// Colours
$white: #fff;
$greylightest: #f3f4f5;
$greylight: #ccc;
$gray: #979797;
$darkgray: #292929;
$darkred: #ff9284;
$lightred: #ffcdc6;

$yellow: #ffff53;
$blue: #4321ea;
$primary: #fc6161;

.c-blue {
  color: $darkred;
}

// Layout
$maxWidth: 90%;

//bootstrap overides
$enable-rounded: false;
